<!DOCTYPE html>
<html>
  <head>
    <title>demo sites for popup script</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script 
      type="text/javascript"      
      src="./popupScript.js">
    </script>
    <link rel="stylesheet" href="./popup.css">
  </head>
  <body>